@use 'variables' as *;

body {
  background: $negro;
  color: $rosado;
}

main {
  background: $blanco;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100vh;
  padding: 2em;
}
